.wave-master {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('../assets/wave.png');
    background-size: 1000px 100px; /* Controls how the wave is stretched */
    background-repeat: repeat-x;  /* Repeats the wave horizontally */
}
body, html {
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .navbar {
    width: 100%;
    max-width: 100%;
  }
  